
    {{#if succes}}
        <span id="succes">{{ succes }}</span>
    {{/if}}

    {{#if errors}}
        <span id="errors">{{ errors }}</span>
    {{/if}}

    {{#if error}}
        <span id="errors">{{ error }}</span>
    {{/if}}
