
<!DOCTYPE html>
<html lang="es">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="title"></title>
    <!-- icon -->
    <link rel="shortcut icon" type="image/x-icon" id="icon">
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap" rel="stylesheet">
    <!-- styles -->
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/content.css">
    <link rel="stylesheet" href="/css/iconBox.css">
    <link rel="stylesheet" href="/css/formBox.css">
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/sci.css">
</head>



<body>


    <section>

        <div class="bg" id="bg"></div>

        <header>
            <a href="/home" class="logo">ksFruit</a>
            <ul class="navigation">
                <li><a href="/tasks" id="navTasks"></a></li>
                <li><a href="/addTask" id="navAddTask" class="active"></a></li>
                <li><a href="/account" id="navAccount"></a></li>
                <li><a href="/logout" id="navLogout"></a></li>
            </ul>
        </header>

        <div class="content">
            <div class="iconBox">
                <img id="iconImg">
            </div>
            <div class="formBox">
                <form action="/addTask" method="POST">
                    <input type="text" id="titleT" name="title">
                    <input type="text" id="description" name="description">
                    <input type="date" id="delivery" name="date">
                    <input type="submit" id="add">
                </form>
            </div>
        </div>

        <div class="theme">
            <h1 id="fruitText"></h1>
        </div>

        <ul class="sci">
            <li><a href="#"><img src="/img/social/facebook.png" alt="facebook"></a></li>
            <li><a href="#"><img src="/img/social/twitter.png" alt="twitter.png"></a></li>
            <li><a href="#"><img src="/img/social/instagram.png" alt="instagram.png"></a></li>
        </ul>

        {{> msg }}

    </section>


    <script src="/js/theme.js"></script>
    <script src="/js/languaje.js"></script>

    <script src="/js/changes/theme/icon.js"></script>
    <script src="/js/changes/languaje/titles/addTask.js"></script>

    <script src="/js/changes/theme/bg.js"></script>
    <script src="/js/changes/languaje/nav2.js"></script>
    <script src="/js/changes/theme/iconBx.js"></script>
    <script src="/js/changes/languaje/forms/addTask.js"></script>
    <script src="/js/changes/theme/text.js"></script>

    <script src="/js/changes/languaje/msg.js"></script>


</body>
</html>