
.theme {
    position: absolute;
    bottom: 90px;
    right: 360px;
    pointer-events: none;
}


.theme h1 {
    font-weight: 800;
    font-size: 90px;
    color: rgba( 0, 0, 0, 0.2 );
    white-space: nowrap;
}
